extends layout

block content
    section#blog.container
      .center
        h2 Announcements
      .blog
        .row
          .col-md-8
            each article,index in articles
              .blog-item
                .row
                  .col-xs-12.col-sm-2.text-center
                    .entry-meta
                      span#publish_date=article.create_date
                      span
                        i.fa.fa-user
                        a(href="#") John Doe
                  .col-xs-12.col-sm-10.blog-content
                    h2
                      a(href="#")=article.title
                    h3=article.text
              // /.blog-item
            if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
              ul.pagination.pagination-lg
               if(paginate.hasPreviousPages)
                  li
                    a(href=paginate.href(true))
                      i.fa.fa-long-arrow-left
                      | Previous Page
               -for(var i=0;i<pageCount;++i)
                -var ref = {page:i+1}
                  li
                    a(href=paginate.href(ref))= (i+1)

               if(paginate.hasNextPages(pageCount))
                  li
                    a(href=paginate.href())
                      | Next Page
                      i.fa.fa-long-arrow-right
              // /.pagination
          // /.col-md-8
          aside.col-md-4
            .widget.search
              form(role="form")
                input.form-control.search_box(type="text", autocomplete="off", placeholder="Search Here")
            // /.search
        // /.row
    // /#blog

    script(src="js/jquery.js")
    script(src="js/bootstrap.min.js")
    script(src="js/jquery.prettyPhoto.js")
    script(src="js/jquery.isotope.min.js")
    script(src="js/main.js")
    script(src="js/wow.min.js")
